@import url("https://fonts.googleapis.com/css2?family=Acme&family=Raleway:wght@200&display=swap");
/* 
.listingCategories{
    /* height: 100vh; */
@media only screen and (min-width: 1200px) {
.ui.container {
  width: 95%;

}
}
.tittle {
  margin-left: 45%;
  font-size: 50px;
}
.desk {
  margin-top: 80px;
  float: right;
  display: flex;
  justify-content: space-around;
}

/* .testt{
    max-height: 200px;} */

.cardBody {
  height: 50%;
}

.rowControlSize {
  margin-left: 10%;
}
.categoryCrads {
  height: 95% !important;
  /* width: 19% !important; */
}
